<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        {{{embed_code}}}

        <title>GitcBase</title>

        <base href={{{base_href}}} />

        <script type="text/javascript">
            (function() {
                window.MetabaseBootstrap = {{{bootstrap_json}}};
                window.MetabaseLocalization = {{{localization_json}}};

                var configuredRoot = {{{base_href}}};
                var actualRoot = "/";

                // Add trailing slashes
                var backendPathname = {{{uri}}}.replace(/\/*$/, "/");
                // e.x. "/questions/"
                var frontendPathname = window.location.pathname.replace(/\/*$/, "/");
                // e.x. "/metabase/questions/"
                if (backendPathname === frontendPathname.slice(-backendPathname.length)) {
                    // Remove the backend pathname from the end of the frontend pathname
                    actualRoot = frontendPathname.slice(0, -backendPathname.length) + "/";
                    // e.x. "/metabase/"
                }

                if (actualRoot !== configuredRoot) {
                    console.warn("Warning: the Metabase site URL basename \"" + configuredRoot + "\" does not match the actual basename \"" + actualRoot + "\".");
                    console.warn("You probably want to update the Site URL setting to \"" + window.location.origin + actualRoot + "\"");
                    document.getElementsByTagName("base")[0].href = actualRoot;
                }

                window.MetabaseRoot = actualRoot;
            })();
        </script>
    <link href="app/dist/vendor.bundle.css?00f24a2eeccb0afbc72602c65192b43e" rel="stylesheet"><link href="app/dist/styles.bundle.css?e175acad3183ffabed00f446770a775d" rel="stylesheet"><link href="app/dist/app-public.bundle.css?0e359d3dcf5b80214aed47db260ef003" rel="stylesheet"><script type="text/javascript" src="app/dist/vendor.bundle.js?3def3e7aff2116cf4329"></script><script type="text/javascript" src="app/dist/styles.bundle.js?3def3e7aff2116cf4329"></script><script type="text/javascript" src="app/dist/app-public.bundle.js?3def3e7aff2116cf4329"></script></head>

    <body>
        <div id="root"></div>

        <script type="text/javascript">
            // Load scripts asyncronously after the page has finished loading
            (function () {
                function loadScript(src, onload) {
                    var script = document.createElement('script');
                    script.type  = "text/javascript";
                    script.async = true;
                    script.src   = src;
                    if (onload) script.onload = onload;
                    document.body.appendChild(script);
                }
                loadScript('https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js', function () {
                    WebFont.load({ google: {
                        families: ["Lato:300,400,700,900"] }
                    });
                });
                var googleAuthClientID = window.MetabaseBootstrap.google_auth_client_id;
                if (googleAuthClientID) {
                    loadScript('https://apis.google.com/js/api:client.js');
                }
            })();
        </script>

        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            // if we are not doing tracking then go ahead and disable GA now so we never even track the initial pageview
            const tracking = window.MetabaseBootstrap.anon_tracking_enabled;
            const ga_code = window.MetabaseBootstrap.ga_code;
            if (!tracking) {
                window['ga-disable-'+ga_code] = true;
            }

            ga('create', ga_code, 'auto');
        </script>
    </body>
</html>
